<!DOCTYPE html>
<html>
<head>
  <title>Save-A-Seat</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
         <div class="navbar-header">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
    <em>Welcome, <%= current_user.email %>!</em> <br><br> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>

  <%= yield %>

</body>
</html>
